/node_modules
/vendor
/dist
/build
.env
composer.lock
package-lock.json
desktop.ini
npm-debug.log
yarn-error.log
yarn.lock
.phpunit.result.cache
.php_cs.cache
phpmd.html
src/Friday/Controller/_notes/dwsync.xml
src/Friday/Foundation/_notes/dwsync.xml
src/Friday/Helper/_notes/dwsync.xml
src/Friday/View/_notes/dwsync.xml
src/Friday/Contracts/Http/_notes/dwsync.xml
src/Friday/Http/_notes/dwsync.xml
src/Friday/Model/_notes/dwsync.xml
