/node_modules
/vendor
/dist
/build
/_notes/dwsync.xml
*/_notes/dwsync.xml
**/_notes/dwsync.xml
.env
composer.lock
package-lock.json
desktop.ini
npm-debug.log
yarn-error.log
yarn.lock
.phpunit.result.cache
.php_cs.cache
phpmd.html
dwsync.xml
*.xml
